/.vs/citiescontrollermod/v17/.suo
/CitiesControllerMod/bin/Debug/Assembly-CSharp-firstpass.dll
/CitiesControllerMod/bin/Debug/Assembly-CSharp.dll
/CitiesControllerMod/bin/Debug/CitiesControllerMod.dll
/CitiesControllerMod/bin/Debug/CitiesControllerMod.pdb
/CitiesControllerMod/bin/Debug/ColossalManaged.dll
/CitiesControllerMod/bin/Debug/ICSharpCode.SharpZipLib.dll
/CitiesControllerMod/bin/Debug/ICities.dll
/CitiesControllerMod/bin/Debug/PopsApiWrapper.dll
/CitiesControllerMod/bin/Debug/UnityEngine.UI.dll
/CitiesControllerMod/bin/Debug/UnityEngine.dll
/CitiesControllerMod/bin/Debug/XInputDotNetPure.dll
/CitiesControllerMod/obj/Debug/CitiesControllerMod.Properties.Resources.resources
/CitiesControllerMod/obj/Debug/CitiesControllerMod.csproj.AssemblyReference.cache
/CitiesControllerMod/obj/Debug/CitiesControllerMod.csproj.CopyComplete
/CitiesControllerMod/obj/Debug/CitiesControllerMod.csproj.CoreCompileInputs.cache
/CitiesControllerMod/obj/Debug/CitiesControllerMod.csproj.FileListAbsolute.txt
/CitiesControllerMod/obj/Debug/CitiesControllerMod.csproj.GenerateResource.cache
/CitiesControllerMod/obj/Debug/CitiesControllerMod.dll
/CitiesControllerMod/obj/Debug/CitiesControllerMod.pdb
/CitiesControllerMod/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CitiesControllerMod/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CitiesControllerMod/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
